.header{
    float: right;
}

.header h3{
    margin-left: -600px;
    margin-top: 20px;
    font-family: 'Ultra', serif;
    color: whitesmoke;
   
}

.header h4{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    margin-top: -55px;
    background-image: url(../assets/checkout.jpeg);
    background-position: center;
    background-size: cover;
    margin-left: -100px;
}

.search-bar{
    width: 250px;
    height: 50px;
    border-radius: 45px;
    margin-left: 1000px;
    color: whitesmoke;
    font-family: 'Ultra', serif;
    border: 2px solid whitesmoke;
    padding-top: 10px;
    padding-left: 20px;
}

.search-bar:hover{
    width: 250px;
    height: 50px;
    border-radius: 45px;
    margin-left: 1000px;
    color: black;
    font-family: 'Ultra', serif;
    border: 2px solid whitesmoke;
    padding-top: 10px;
    padding-left: 20px;
    background-color: whitesmoke;
    cursor: pointer;
}

.intro{
    width: 100%;
    height: 800px;
    background-image: url(../assets/dummy\ sub\ 10.jpeg);
    background-position: center;
    background-size: cover;
}

.intro p{
    color: beige;
    padding-left: 950px;
    padding-top: 550px;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
}

.background-one{
    width: 100%;
    height: 700px;
    background-image: url(../assets/background\ image\ one.jpeg);
    background-position: center;
    background-size: cover;
}

.header-box{
    width: 650px;
    height: 700px;
    background-color: bisque;
    margin-left: 765px;
    margin-top: -800px;
}

.header-box p{
    background-color: bisque;
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Ultra', serif;
}

.tob{
    width: 650px;
    color: pink;
    height: 45px;
    background-color: bisque;
}

.tob h3{
    padding-left: 240px;
    padding-top: 20px;
    font-family: 'Ultra', serif;
}

.chef-image{
    width: 500px;
    height: 500px;
    border-radius: 350px;
    background-image: url(../assets/master-chef-logo-design-template-free-vector.webp);
    background-position: center;
    background-size: cover;
    margin-top: -450px;
    margin-left: 120px;
}

.dummy-subs{
    width: 100%;
    height: 400px;
    color: white;
}

.dummy-subs H3{
    padding-left: 500px;
    margin-top: 20px;
    padding-top: 30px;
    font-family: 'Ultra', serif;
    color: orangered;
}

.sub-one{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-top: 25px;
    background-image: url(../assets/dummy\ sub\ one.jpg);
    background-position: center;
    background-size: cover;
}

.sub-one p{
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}


.sub-two{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 350px;
    margin-top: -110px;
    background-image: url(../assets/dummy\ sub\ two.jpg);
    background-position: center;
    background-size: cover;
}

.sub-two p{
    font-family: 'Rubik Mono One', sans-serif;
    color: orangered;
}

.sub-three{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 700px;
    margin-top: -490px;
    background-image: url(../assets/dummy\ sub\ three.jpg);
    background-position: center;
    background-size: cover;
}

.sub-three p{
    margin-top: -25px;
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}

.sub-four{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 1100px;
    margin-top: -110px;
    background-image: url(../assets/dummy\ sub\ four.jpg);
    background-position: center;
    background-size: cover;
}

.sub-four p{
    font-family: 'Rubik Mono One', sans-serif;
    color: orangered;
}

.dummie-subs{
    width: 100%;
    height: 500px;
    color: white;
}

.dummie-subs H3{
    padding-left: 550px;
    margin-top: 50px;
    padding-top: 30px;
    font-family: 'Ultra', serif;
    
}

.sub-five{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-top: 25px;
    background-image: url(../assets/dummy\ sub\ five.jpg);
    background-position: center;
    background-size: cover;
}

.sub-five  p{
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}

.sub-six{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 350px;
    margin-top: -110px;
    background-image: url(../assets/dummy\ sub\ six.webp);
    background-position: center;
    background-size: cover;
}

.sub-six p{
    font-family: 'Rubik Mono One', sans-serif;
    color: orangered;
}

.sub-seven{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 700px;
    margin-top: -490px;
    background-image: url(../assets/dummy\ sub\ seven.jpg);
    background-position: center;
    background-size: cover;
}

.sub-seven p{
    margin-top: -25px;
    font-family: 'Rubik Mono One', sans-serif;
    color: black;
}

.sub-eight{
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-left: 1100px;
    margin-top: -110px;
    background-image: url(../assets/dummy\ sub\ eight.jpg);
    background-position: center;
    background-size: cover;
}

.sub-eight p{
    font-family: 'Rubik Mono One', sans-serif;
    color: orangered;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: black;
    margin-top: 140px;
    padding-top: 10px;
}

.chef-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 50px;
    background-image: url(../assets/master-chef-logo-design-template-free-vector.webp);
    background-position: center;
    background-size: cover;

}

.instagram-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 1090px;
    margin-top: -100px;
    background-image: url(../assets/instagram\ logo.jpeg);
    background-position: center;
    background-size: cover;
}

.twitter-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 1200px;
    margin-top: -100px;
    background-image: url(../assets/twitter\ .png);
    background-position: center;
    background-size: cover;
}

.facebook-logo{
    width: 110px;
    height: 110px;
    border-radius: 50px;
    margin-left: 1300px;
    margin-top: -105px;
    background-image: url(../assets/Facebook.png);
    background-position: center;
    background-size: cover;
}
